$black001: #131313;
$black002: #1f1f1f;
$black003: #393939;
$black004: #2b2b2b;
$black005: #303030;
$black006: #353535;
$black007: #404040;
$black008: #242424;
$black009: #494949;
$black010: #292929;
$black011: #5d5d5d;
$black012: #505050;

$green001: #44be1d;
$green002: #39792d;
$green003: #097c25;
$green004: #43b71b;
$green005: #3e6f14;
$green006: #4be119;
$green007: #43dc16;
$green008: #3e8a13;
$green009: #3aad1b;
$green010: #2cbd0d;
$green011: #aef156;
$green012: #37bb18;
$green013: #49dd16;
$green014: #29650f;
$green015: #95f221;
$green016: #16e329;
$green017: #6ad237;

$white001: #ffffff;
$white002: #ababab;
$white003: #e0e0e0;
$white004: #b2b2b2;
$white005: #cacaca;
$white006: #c3c3c3;
$white007: #d9d9d9;
$white008: #ececec;

$gray001: #999999;
$gray002: #626262;
$gray003: #707070;
$gray004: #828282;
$gray005: #686868;
$gray006: #8c8c8c;

$yellow001: #ffee00;
$yellow002: #ffc334;

$red001: #b20707;
$red002: #c84a4a;
$red003: #c71526;
$red004: #eb1414;
$red005: #e82f2f;

$orange001: #ff9000;

$linear-gradient001: linear-gradient(to top, #323232 0%, #434343 100%);
$linear-gradient002: linear-gradient(to bottom, #1d1d1d 16%, #303030 100%);
$linear-gradient003: linear-gradient(to right, #a1ea22 0%, #34da14 100%);
$linear-gradient004: linear-gradient(to top, #1f1f1f 0%, #3c3c3c 100%);
$linear-gradient005: linear-gradient(to bottom, #33ab0a 0%, #68e73c 100%);


@mixin btnStyle002 {
    background: linear-gradient(to left, #131313 0%, #323232 100%);
    border: solid 1px #2c8e0b;
    color: #ffffff;

    &:hover,&:active,&.active {
        background: linear-gradient(to right, #45dc16 10%, #91e820 90%);
        border-color: #cdff7f;
        color: #1c1c1c;
    }
}
@mixin btnStyle003 {
    background: #2b2b2b;
    border: solid 1px #707070;
    color: #e0e0e0;

    &:hover,&:active,&.active {
        background: linear-gradient(to right, #92e820 0%, #46dd16 100%);
        border-color: #aef156;
        color: #272727;
    }
}
@mixin btnStyle004 {
    background: #1f1f1f;
    border: solid 1px #6a8e2a;
    color: #b2b2b2;

    &:hover,&:active,&.active {
        background: linear-gradient(to bottom, #141414 0%, #434343 100%);
        border-color: #32980e;
        color: #44be1d;
    }
}
@mixin btnStyle005 {
    background: #393939;
    border: solid 1px #37da14;
    color: #37da14;

    &:hover,&:active,&.active {
        background: linear-gradient(to right, #92e820 0%, #46dd16 90%);
        border-color: #aef156;
        color: #222222;
    }
}
@mixin btnStyle006 {
    background: #1f1f1f;
    border: solid 1px #6a8e2a;
    color: #f2f2f2;

    &:hover,&:active,&.active {
        background: linear-gradient(to right, #A1EA22 0%, #34DA14 100%);
        border-color: #aef156;
        color: #000000;

        span {
            color: #000000;
        }
    }
}
@mixin btnStyle007 {
    background: linear-gradient(to top, #323232 0%, #434343 100%);
    border: solid 1px #7b7b7b;
    color: #b2b2b2;

    &:hover,&:active,&.active {
        background: linear-gradient(to bottom, #141414 0%, #434343 100%);
        border-color: #32980e;
        color: #44be1d;
    }
}

@mixin inputStyle002 {
    background: linear-gradient(to bottom, #303030 21%, #424242 100%);
    border: solid 1px #5d5d5d;
    box-shadow: 0px 3px 10px 2px #1f1f1f inset;
    color: #898787;

    &::placeholder {
        color: #999999
    }
}

@mixin selectStyle001 {
    background: #1f1f1f;
    border: solid 1px #707070;
    color: #ababab;
    appearance: none;

    option {
        background: #1f1f1f;
    }
}