$black001: #131313;
$black002: #1f1f1f;
$black003: #393939;

$green001: #37bd10;
$green002: #7df81a;
$green003: #33ba04;
$green004: #39792d;
$green005: #45b51f;
$green006: #cdff7f;
$green007: #2c8e0b;
$green008: #59a936;
$green009: #57ed22;
$green010: #2b4517;

$white001: #ebf1fb;
$white002: #ffffff;
$white003: #ababab;
$white004: #e0e0e0;
$white005: #b2b2b2;

$blue001: #1856bd;
$blue002: #90c1f2;

$gray001: #969696;
$gray002: #999999;
$gray003: #626262;
$gray004: #707070;
$gray005: #404040;
$gray006: #444444;

$linear-gradient001: linear-gradient(to right, #45dc16 0%, #91e820 90%);
$linear-gradient002: linear-gradient(to top, #131313 0%, #323232 100%);
$linear-gradient003: linear-gradient(to top, #323232 0%, #434343 100%);
$linear-gradient004: linear-gradient(to bottom, #1d1d1d 16%, #303030 100%);
$linear-gradient005: linear-gradient(to right, #a1ea22 0%, #34da14 100%);

@mixin btnStyle001 {
    
}