.fixside {
    width: 60px;
    height: auto;
    position: fixed;
    right: 0px;
    top: 110px;
    z-index: 6;

    &.rwd {
        width: 30px;

        .search {
            height: 30px;

            &.open {
                height: 60px;
                left: -270px;
    
                .searchbut {
                    width: 60px;
                    height: 60px;
    
                    span {
                        display: inline;
                    }
    
                    .fixsideimg {
                        width: 30px;
                        height: 30px;
                        margin: 7px 15px 3px 14px;
                    }
                }
            }

            .searchbut {
                width: 30px;
                height: 30px;

                span {
                    display: none;
                }

                .fixsideimg {
                    width: 24px;
                    height: 24px;
                    margin: 3px 4px;
                }
            }
        }

        .fun {
            margin: 114px 0px 0px 30px;
            border-radius: 0px 0px 0px 3px;

            .hamBtn {
                display: block;
            }

            &.open {
                margin-left: -30px;
            }
        }
    }

    //搜尋列
    .search {
        width: 300px;
        height: 60px;
        background: $linear-gradient004;
        border: solid 1px $green003;
        border-radius: 3px 0px 0px 3px;
        position: absolute;
        top: 0px;
        left: 0px;
        transition: 0.5s left;
        z-index: 2;
        
        &.open {
            left: -240px;
            background: $black003;
        }

        .searchbut {
            width: 60px;
            height: 60px;
            cursor: pointer;
            border-radius: 3px 0px 0px 3px;
            float: left;
            text-align: center;

            &:hover,&:active,&.active {
                background: $linear-gradient005;

                span {
                    color: $black001;
                }

                .fixsideimg {
                    background-position-y: 100%;
                }
            }

            span {
                font-size: 13px;
                color: $white005;
            }

            .fixsideimg {
                width: 30px;
                height: 30px;
                background: url('../images/fixside_ic2.png');
                background-size: 500%;
                float: left;
                margin: 7px 15px 3px 14px;
                pointer-events: none;
            }

        }

        input {
            @include inputStyle002;
            width: 140px;
            height: 30px;
            font-size: 16px;
            padding-left: 10px;
            border-top: none;
            border-radius: 3px;
            float: left;
            margin: 15px 0px 0px 10px;

            &::placeholder {
                font-weight: bold;
                font-size: 14px;
            }
        }

        button {
            @include btnStyle005;
            width: 50px;
            height: 28px;
            float: left;
            border-radius: 5px;
            font-size: 16px;
            margin: 16px 0px 16px 15px;
        }

        //隊伍內容
        .searchbox {
            width: 240px;
            height: auto;
            float: left;
            margin-left: 60px;
            overflow: hidden;
            border-radius: 0px 0px 0px 3px;

            li {
                width: 100%;
                height: 50px;
                line-height: 50px;
                padding-left: 20px;
                position: relative;
                font-size: 14px;
                background: $linear-gradient001;
                cursor: pointer;
                color: $white003;
                border-bottom: solid 1px $gray002;

                &:nth-of-type(1) {
                    border-top: solid 1px $gray002;
                }

                &::before {
                    content: "";
                    width: 0px;
                    height: 0px;
                    position: absolute;
                    border-style: solid;
                    border-color: $white004 transparent;
                    border-width: 10px 8px 0px 8px;
                    right: 40px;
                    top: 21px;
                    transform: rotate(-90deg);
                    transition: 0.3s all;
                }

                &:hover,&:active,&.active {
                    background: $linear-gradient002;

                    &::before {
                        transform: rotate(0deg);
                    }
                }
            }

            div {
                background: $black007;
                width: 100%;
                height: 0px;
                overflow: hidden;

                &.open {
                    height: auto;
                }

                a {
                    display: block;
                    width: 100%;
                    height: 50px;
                    line-height: 50px;
                    color: $white006;
                    border-bottom: solid 1px $gray006;
                    font-size: 14px;

                    &:hover,&:active,&.active {
                        background: $black002;
                        color: $green001;
                    }

                    .team {
                        display: block;
                        width: 30px;
                        height: 30px;
                        background: url('../images/fixside_team.png');
                        float: left;
                        margin: 10px 5px 0px 15px;
                        background-size: 300%;
                        
                        &.french {
                            background-position-x: -30px;
                        }
                        
                        &.england {
                            background-position-x: -60px;
                        }
                    }

                    .num {
                        float: right;
                        margin: 0px 20px 0px 0px;
                    }
                }
            }
        }
    }

    //功能列
    .fun {
        width: 60px;
        height: auto;
        margin-top: 65px;
        position: relative;
        transition: all 0.3s;

        a {
            display: block;
            width: 100%;
            height: 62px;
            background: $linear-gradient004;
            border-radius: 3px 0px 0px 3px;
            text-align: center;
            margin-top: 3px;
            border: solid 1px $green003;
            cursor: pointer;

            &:hover,&:active,&.active {
                background: $linear-gradient005;

                span {
                    color: $black001;
                }

                .fixsideimg {
                    background-position-y: 100%;
                }
            }

            span {
                font-size: 13px;
                color: $white005;
            }

            .fixsideimg {
                width: 30px;
                height: 30px;
                background: url('../images/fixside_ic2.png');
                background-size: 500%;
                float: left;
                margin: 8px 15px 3px 17px;
                &.img2 {
                    background-position-x: -30px;
                }
                &.img3 {
                    background-position-x: -60px;
                }
                &.img4 {
                    background-position-x: -90px;
                }
                &.img5 {
                    background-position-x: 50%;
                }
                &.img6 {
                    background-position-x: 75%;
                }
                &.img7 {
                    background-position-x: 100%;
                }
                &.img8 {
                    background-position-x: -210px;
                }
                &.img9 {
                    background-position-x: 25%;
                }
            }
        }
    }
}