//header
header {
    width: 100%;
    min-width: 1480px;
    height: 110px;
    background: #1f1f1f;
    position: relative;
    z-index: 10;
    overflow: hidden;

    &.mine {
        min-width: 1200px;
    }
    
    //上列
    .top {
        width: 100%;
        height: 25px;
        background: #131313;

        //盤口對照表+設定
        .conversionBtn,.controlBtn {
            float: left;
            width: auto;
            height: 100%;
            color: #969696;
            background: transparent;
            margin-left: 15px;
            font-size: 13px;
        }

        //跑馬燈
        .marqueeBox {
            float: left;
            width: 60%;
            height: 100%;
            position: relative;
            margin-left: 185px;

            .fa-volume-up {
                position: absolute;
                left: -23px;
                top: 4px;
                color: #37bd10;
            }

            marquee {
                line-height: 25px;
                font-size: 12px;
                color: #37bd10;
                overflow: visible;
            }
        }

        //時間
        span {
            float: right;
            font-size: 12px;
            color: #969696;
            line-height: 25px;
            margin-right: 15px;
        }

        .threeCircle {
            float: right;
            width: auto;
            height: 100%;
            line-height: 25px;

            button {
                width: 15px;
                height: 15px;
                border-radius: 30px;
                margin: 5px 5px 0px 0px;
                border: solid 1px #37bd10;
                background: #131313;

                &:nth-of-type(2) {
                    background: #ebf1fb;
                    border-color: #9b7c55;
                }

                &:nth-of-type(3) {
                    background: #1856bd;
                    border-color: #90c1f2;
                    margin-right: 20px;
                }
            }
        }
    }

    //置中外包
    article {
        width: 100%;
        height: 85px;

        //LOGO
        .logo {
            width: 180px;
            height: 100%;
            float: left;
            font-size: 50px;
            font-weight: bolder;
            text-align: center;
            line-height: 85px;
            color: #ffffff
        }

        //上列表
        ul {
            float: left;
            position: relative;
            z-index: 2;

            li {
                float: left;
                text-align: center;

                a {
                    display: block;
                    padding: 0px 10px;
                    height: 76px;
                    line-height: 85px;
                    color: #ffffff;
                    border-bottom: solid 5px transparent;
                    font-size: 14px;

                    &:hover,&:active,&.active {
                        border-color: #33ba04;
                        color: #7df81a;
                    }

                    .fa-user {
                        margin-right: 8px;
                    }
                }
            }
        }

        .logged {
            display: none;
            width: auto;
            height: 100%;
            text-align: right;
            position: absolute;
            right: 20px;

            &.display {
                display: block;
            }

            .inputBox {
                width: auto;
                height: auto;
                display: inline-block;
                margin: 10px 6px 0px 0px;
                position: relative;

                input {
                    width: 130px;
                    height: 25px;
                    font-size: 14px;
                    padding-left: 5px;
                    border-radius: 3px;
                    border: solid 1px #39792d;
                    background: #131313;
                    color: #45b51f;

                    &::placeholder {
                        color: #999999;
                    }
                }

                .forget {
                    position: absolute;
                    left: 0px;
                    bottom: -28px;
                    font-size: 14px;
                    color: #45b51f;
                }

                .remember {
                    position: absolute;
                    left: 18px;
                    bottom: -28px;
                    font-size: 14px;
                    color: #ababab;

                    .cube {
                        left: -18px;
                        top: -1px;
                    }
                }
            }

            .loginBtn {
                background: linear-gradient(to right,#45dc16 0%,#91e820 90%);
                border: solid 1px #cdff7f;
                padding: 5px 14px;
                border-radius: 3px;
                color: #131313;
                font-size: 14px;
                font-weight: bold;
                margin-right: 8px;

                &:hover,&:active,&.active {
                    border-color: #ffffff;
                    background: #ffffff;
                    color: #393939;
                }
            }

            .signupBtn {
                background: linear-gradient(to top,#131313 0%,#323232 100%);
                border-radius: 3px;
                color: #ffffff;
                padding: 6px 14px;
                font-size: 14px;
                font-weight: bold;
                border: solid 1px #2c8e0b;

                &:hover,&:active,&.active {
                    border-color: #ffffff;
                    background: #ffffff;
                    color: #59a936;
                }
            }

            .selectBox {
                float: right;
                width: 25%;
                position: relative;
                margin-top: 10px;

                .fa-globe {
                    float: left;
                    margin: 3px 6px 0px 0px;
                    color: #ababab;
                }

                //下箭頭
                &::after {
                    content: "";
                    position: absolute;
                    pointer-events: none;
                    width: 0px;
                    height: 0px;
                    border-style: solid;
                    border-width: 10px 8px 0px 8px;
                    border-color: #ababab transparent;
                    top: 7px;
                    right: 10px;
                }

                select {
                    width: 110px;
                    padding: 3px 0px 3px 5px;
                    background: transparent;
                    border: solid 1px #707070;
                    border-radius: 3px;
                    color: #ababab;
                    font-size: 12px;
                    appearance:none;   
                    -moz-appearance:none;   
                    -webkit-appearance:none;
                    background: #1f1f1f;

                    option {
                        color: #ababab;
                    }
                }
            }
        }

        //登入後樣式
        .loggedIn {
            display: none;
            width: auto;
            height: 100%;
            text-align: right;
            position: absolute;
            right: 20px;

            &.display {
                display: block;
            }

            //字體
            p {
                display: inline-block;
                color: #ababab;
                font-size: 13px;
                margin: 10px 5px 0px 0px;

                //信用額度
                &.quota {
                    padding: 7px 7px 5px;
                    border: solid 1px #707070;
                    border-radius: 3px;
                    background: #1f1f1f;
                }

                span {
                    color: #40c50f;
                    padding-left: 8px;
                }
            }

            //登出按鈕
            button {
                border-radius: 3px;
                padding: 4px 15px;
                background: linear-gradient(to top,#131313,#323232 100%);
                color: #40c50f;
                font-size: 14px;
                border: solid 1px #2c8e0b;

                &:hover,&:active,&.active {
                    background: linear-gradient(to bottom,#45dc16 10%,#91e820 90%);
                    color: #1c1c1c;
                    border-color: #cdff7f;
                }
            }

            .selectBox {
                float: right;
                width: 21%;
                position: relative;
                margin-top: 10px;

                .fa-globe {
                    float: left;
                    margin: 3px 6px 0px 0px;
                    color: #ababab;
                }

                //下箭頭
                &::after {
                    content: "";
                    position: absolute;
                    pointer-events: none;
                    width: 0px;
                    height: 0px;
                    border-style: solid;
                    border-width: 10px 8px 0px 8px;
                    border-color: #ababab transparent;
                    top: 7px;
                    right:10px;
                }

                select {
                    width: 110px;
                    padding: 3px 0px 3px 5px;
                    background: transparent;
                    border: solid 1px #ababab;
                    border-radius: 3px;
                    color: #ababab;
                    font-size: 12px;
                    background: #1f1f1f;
                    appearance:none;   
                    -moz-appearance:none;   
                    -webkit-appearance:none;

                    option {
                        color: #ababab;
                    }
                }
            }
        }
    }
}