.fixside {
    width: 60px;
    height: auto;
    position: fixed;
    right: 0px;
    top: 110px;
    z-index: 6;

    &.rwd {
        width: 30px;

        .search {
            height: 30px;

            &.open {
                height: 60px;
                left: -270px;
    
                .searchbut {
                    width: 60px;
                    height: 60px;
    
                    span {
                        display: inline;
                    }
    
                    .fixsideimg {
                        width: 30px;
                        height: 30px;
                        margin: 7px 15px 3px 14px;
                    }
                }
            }

            .searchbut {
                width: 30px;
                height: 30px;

                span {
                    display: none;
                }

                .fixsideimg {
                    width: 24px;
                    height: 24px;
                    margin: 3px 4px;
                }
            }
        }

        .fun {
            margin: 114px 0px 0px 30px;
            border-radius: 0px 0px 0px 3px;

            .hamBtn {
                display: block;
            }

            &.open {
                margin-left: -30px;
            }
        }
    }

    //搜尋列
    .search {
        width: 300px;
        height: 60px;
        background: linear-gradient(to top,#272727 0%,#434343);
        border: solid 1px #327e1a;
        border-radius: 3px 0px 0px 3px;
        position: absolute;
        top: 0px;
        left: 0px;
        transition: 0.5s left;
        z-index: 2;
        
        &.open {
            left: -240px;
            background: #414141;
        }

        .searchbut {
            width: 60px;
            height: 60px;
            cursor: pointer;
            border-radius: 3px 0px 0px 3px;
            float: left;
            text-align: center;

            &:hover,&:active,&.active {
                background: linear-gradient(to bottom, #33ab0a 0%, #68e73c 100%);

                span {
                    color: #131313;
                }

                .fixsideimg {
                    background-position-y: 100%;
                }
            }

            span {
                font-size: 13px;
                color: #c8c8c8;
            }

            .fixsideimg {
                width: 30px;
                height: 30px;
                background: url('../images/fixside_ic2.png');
                background-size: 500%;
                float: left;
                margin: 7px 15px 3px 14px;
                pointer-events: none;
            }

        }

        input {
            width: 140px;
            height: 30px;
            font-size: 16px;
            padding-left: 10px;
            box-shadow: 0px 3px 10px 2px #1f1f1f inset;
            border: solid 1px #5d5d5d;
            border-top: none;
            border-radius: 3px;
            float: left;
            margin: 15px 0px 0px 10px;
            background: linear-gradient(to bottom,#303030 21%,#424242 100%);
            color: #898787;

            &::placeholder {
                font-weight: bold;
                color: #898787;
                font-size: 14px;
            }
        }

        button {
            width: 50px;
            height: 28px;
            background: #2b2b2b;
            border: solid 1px #34aa0d;
            color: #42c317;
            float: left;
            border-radius: 5px;
            font-size: 16px;
            margin: 16px 0px 16px 15px;

            &:hover,&:active,&.active {
                color: #2b2b2b;
                background: #34aa0d;
            }
        }

        //隊伍內容
        .searchbox {
            width: 240px;
            height: auto;
            float: left;
            margin-left: 60px;
            overflow: hidden;
            border-radius: 0px 0px 0px 3px;

            li {
                width: 100%;
                height: 50px;
                line-height: 50px;
                padding-left: 20px;
                position: relative;
                font-size: 14px;
                background: linear-gradient(to top, #393939 0%, #555555 100%);
                cursor: pointer;
                color: #dadada;
                border-bottom: solid 1px #6c6c6c;

                &::before {
                    content: "";
                    width: 0px;
                    height: 0px;
                    position: absolute;
                    border-style: solid;
                    border-color: #b2b2b2 transparent;
                    border-width: 10px 8px 0px 8px;
                    right: 40px;
                    top: 21px;
                    transform: rotate(-90deg);
                    transition: 0.3s all;
                }

                &:hover,&:active,&.active {
                    background: linear-gradient(to bottom, #2d2d2d 0%, #393939 100%);
                    color: #dadada;

                    &::before {
                        transform: rotate(0deg);
                    }
                }
            }

            div {
                background: #2c2c2c;
                width: 100%;
                height: 0px;
                overflow: hidden;

                &.open {
                    height: auto;
                }

                a {
                    display: block;
                    width: 100%;
                    height: 50px;
                    line-height: 50px;
                    color: #b9b9b9;
                    border-bottom: solid 1px #8c8c8c;
                    font-size: 14px;

                    &:hover,&:active,&.active {
                        background: #212121;
                        color: #53ca2a;
                    }

                    .team {
                        display: block;
                        width: 30px;
                        height: 30px;
                        background: url('../images/fixside_team.png');
                        float: left;
                        margin: 10px 5px 0px 15px;
                        background-size: 300%;
                        
                        &.french {
                            background-position-x: -30px;
                        }
                        
                        &.england {
                            background-position-x: -60px;
                        }
                    }

                    .num {
                        float: right;
                        margin: 0px 20px 0px 0px;
                    }
                }
            }
        }
    }

    //功能列
    .fun {
        width: 60px;
        height: auto;
        margin-top: 65px;
        position: relative;
        transition: all 0.3s;

        //漢堡選單
        .hamBtn {
            display: none;
            width: 30px;
            height: 30px;
            position: absolute;
            top: 0px;
            left: -30px;
            border-radius: 3px 0px 0px 3px;
            background: #eaedf4;
            padding: 0px;
            cursor: pointer;
            &:hover,&:active,&.active {
                background: linear-gradient(to right, #7f8cd1 0%, #1a2b84 100%);
                span {
                    background: #fff;
                }
            }

            span {
                display: block;
                width: 55%;
                height: 4px;
                background: #f3b378;
                margin:0px 0px 0px 7px;
                border-radius: 5px;
                &:first-child {
                    margin: 6px 0px 3px 7px;
                }
                &:last-child {
                    margin-top: 3px;
                }
            }
        }

        a {
            display: block;
            width: 100%;
            height: 62px;
            background: linear-gradient(to top,#272727 0%,#434343 100%);
            border-radius: 3px 0px 0px 3px;
            text-align: center;
            margin-top: 3px;
            border: solid 1px #327e1a;
            cursor: pointer;

            &:hover,&:active,&.active {
                background: linear-gradient(to bottom, #33ab0a 0%, #68e73c 100%);

                span {
                    color: #131313;
                }

                .fixsideimg {
                    background-position-y: 100%;
                }
            }

            span {
                font-size: 13px;
                color: #d0d0d0;
            }

            .fixsideimg {
                width: 30px;
                height: 30px;
                background: url('../images/fixside_ic2.png');
                background-size: 500%;
                float: left;
                margin: 8px 15px 3px 17px;
                &.img2 {
                    background-position-x: -30px;
                }
                &.img3 {
                    background-position-x: -60px;
                }
                &.img4 {
                    background-position-x: -90px;
                }
                &.img5 {
                    background-position-x: 50%;
                }
                &.img6 {
                    background-position-x: 75%;
                }
                &.img7 {
                    background-position-x: 100%;
                }
                &.img8 {
                    background-position-x: -210px;
                }
                &.img9 {
                    background-position-x: 25%;
                }
            }
        }
    }
}