//右列
.right {
    width: 300px;
    height: 850px;
    margin-left: 10px;
    float: left;
    overflow: hidden;
    position: relative;
    z-index: 6;
    scrollbar-width: thin;

    &::-webkit-scrollbar {
        width: 5px;
        background-color: transparent;
    }

    &::-webkit-scrollbar-track {
        background: #ffffff;
        border-radius: 10px;
    }

    &::-webkit-scrollbar-thumb {
        background: linear-gradient(to bottom,#ffab00 0%, #ff4802 100%);
        border-radius: 10px;
    }
    
    //上段字樣
    .statusWindow {
        width: 100%;
        height: 113px;
        background: #ffffff;
        position: relative;
        margin-bottom: 10px;
        box-shadow: 0px 2px 5px 0px #00000049;

        p {
            background: #294282;
            color: #ffffff;
            padding: 7px 15px;
            font-size: 12px;
        }

        ul {
            position: absolute;
            width: 95%;
            height: auto;
            left: 50%;
            bottom: 4%;
            transform: translateX(-50%);

            li {
                padding: 5px 15px 3px;
                font-size: 14px;
                position: relative;
                background: #ededed;
                color: #454545;
                margin-bottom: 3px;

                &::before {
                    display: none;
                    content: "";
                    position: absolute;
                    width: 1px;
                    height: calc(100% + 2px);
                    left: -1px;
                    top: -1px;
                    background: #356bf7;
                }

                span {
                    float: right;
                    font-size: 12px;
                    padding-top: 2px;
                    color: #356bf7;

                    &.onWait {
                        color: #454545;
                    }

                    &.fail {
                        color: #f42a2a;
                    }
                }

                button {
                    float: right;
                    width: 15px;
                    height: 15px;
                    background: transparent;
                    border: solid 1px #8d8d8d;
                    border-radius: 15px;
                    margin-left: 15px;
                    position: relative;
                    overflow: hidden;

                    &::before {
                        content: "";
                        position: absolute;
                        width: 1px;
                        height: 7px;
                        background: #8d8d8d;
                        transform: rotate(45deg);
                        top: 3px;
                        right: 6px;
                    }

                    &::after {
                        content: "";
                        position: absolute;
                        width: 1px;
                        height: 7px;
                        background: #8d8d8d;
                        transform: rotate(-45deg);
                        top: 3px;
                        left: 6px;
                    }
                }
            }
        }
    }

    //直播小框
    .liveWindow {
        width: 100%;
        height: auto;
        background: #ffffff;
        text-align: center;
        margin-bottom: 10px;
        box-shadow: 0px 2px 5px 0px #00000049;

        .title {
            background: #294282;
            color: #ffffff;
            padding: 7px 15px;
            font-size: 12px;
            text-align: left;
        }

        .teamWindow {
            width: 100%;
            height: auto;
            position: relative;

            .leftTeam,.rightTeam {
                display: inline-block;
                width: 35%;
                height: auto;
                position: relative;
    
                &.leftTeam {
    
                    p {
                        text-align: right;
                        padding: 5px 0px 5px 5px;
                    }
                }
    
                &.rightTeam {
    
                    p {
                        text-align: left;
                        padding: 5px 5px 5px 0px;
                    }
                }
    
                p {
                    font-size: 12px;
                    color: #454545;
                    line-height: 20px;
                }
            }
            
            .score {
                display: inline-block;
                width: 25%;
                height: auto;
    
                p {
                    width: 100%;
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%,-50%);
                    color: #595959;
    
                    span {
                        color: #356bf7;
                        font-size: 12px;
                    }
                }
            }
        }

        .liveShow {
            width: 100%;
            height: 195px;
            background: url('../images/live.png') no-repeat;
            background-size: cover;
        }
    }

    //下大框
    .room {
        width: 100%;
        height: auto;
        margin-top: 5px;

        //切換按鈕
        .twobut {
            width: 100%;
            height: 27px;

            .line {
                display: none;
                float: left;
                width: 1%;
                height: 100%;
                background: #ababab;
            }

            button {
                width: 49.5%;
                height: 100%;
                background: #294282;
                color: #ffffff;
                font-size: 14px;
                float: left;
                margin-right: 1%;
                border-radius: 3px 3px 0px 0px;

                &:last-child {
                    margin: 0px;
                }

                &:hover,&:active,&.active {
                    background: #ffffff;
                    color: #294282;
                }
            }
        }
        .onebut {
            width: 100%;
            height: 27px;

            button {
                width: 100%;
                height: 100%;
                background: #294282;
                color: #ffffff;
                font-size: 14px;
                border-radius: 3px 3px 0px 0px;
            }
        }

        //直播賽事
        .livelist {
            display: none;
            width: 100%;
            height: auto;
            position: relative;
            overflow-y: auto;
            overflow-x: hidden;
            scrollbar-width: thin;

            &::-webkit-scrollbar {
                width: 5px;
                background-color: transparent;
            }
        
            &::-webkit-scrollbar-track {
                background: #ffffff;
                border-radius: 10px;
            }
        
            &::-webkit-scrollbar-thumb {
                background: linear-gradient(to right,#ffab00 0%, #ff4802 100%);
                border-radius: 10px;
            }

            &.open {
                display: block;
            }

            ul {

                //選單
                li {
                    width: 100%;
                    height: 30px;
                    line-height: 32px;
                    box-sizing: border-box;
                    position: relative;
                    overflow: hidden;
                    cursor: pointer;
                    background: #ffffff;

                    &:hover,&:active {

                        &::before {
                            transform: rotate(90deg);
                            border-color: transparent #356bf7; 
                        }

                        .gameName {
                            border-color: #356bf7;
                            color: #356bf7;
                        }

                        .games {
                            color: #356bf7;
                        }
                    }

                    &.active {
                        background: #f7f7f7;
                        height: auto;
                        position: sticky;
                        top: 0px;
                        z-index: 2;

                        &::before {
                            transform: rotate(90deg);
                            border-color: transparent #356bf7;
                        }

                        .gameName {
                            border-color: #356bf7;
                            color: #356bf7;
                            background: #ffffff;
                        }

                        .games {
                            color: #356bf7;
                        }
                    }

                    &::before {
                        content: "";
                        position: absolute;
                        width: 0px;
                        height: 0px;
                        border-style: solid;
                        border-width: 7px 0px 7px 8px;
                        border-color: transparent #8d8d8d;
                        right: 25px;
                        top: 8px;
                        transition: 0.3s all;
                    }

                    .gameName {
                        display: block;
                        width: 100%;
                        height: 30px;
                        color: #454545;
                        font-size: 13px;
                        box-sizing: border-box;
                        padding-left: 25px;
                        border: solid 1px transparent;
                    }

                    .games {
                        font-size: 13px;
                        font-weight: bold;
                        color: #454545;
                        position: absolute;
                        right: 60px;
                        top: 0px;
                    }

                    .innerList {
                        width: 96%;
                        height: 70px;
                        background: #ffffff;
                        position: relative;
                        cursor: default;
                        border-radius: 5px;
                        box-shadow: 0px 0px 5px 0px #00000049;
                        margin: 0px auto 10px;

                        &:nth-of-type(1) {
                            margin-top: 10px;
                        }

                        p {
                            width: 100%;
                            line-height: 18px;
                            position: absolute;
                            left: 10px;
                            top: 50%;
                            transform: translateY(-50%);
                            font-size: 12px;
                            color: #454545;

                            span {
                                font-weight: bold;
                                color: #356bf7;

                                .situation {
                                    font-weight: normal;
                                    float: right;
                                    margin-right: 20px;
                                    color: #8d8d8d;

                                    &.onLive {
                                        position: relative;
                                        color: #ffffff;
                                        margin: -7px 15px 0px 0px;
                                        
                                        &::after {
                                            content: "";
                                            position: absolute;
                                            width: 40px;
                                            height: 19px;
                                            top: -1px;
                                            left: -10px;
                                            background: url('../images/liveBg.png') no-repeat;
                                            z-index: -1;
                                        }
                                    }
                                }
                            }

                            button {
                                position: absolute;
                                right: 20px;
                                bottom: 0px;
                                width: 70px;
                                height: 30px;
                                background: #ffffff;
                                border-radius: 3px;
                                box-shadow: 1px 2px 10px 0px #00000049;
                                color: #356bf7;

                                &:hover,&:active,&.active {
                                    background: #356bf7;
                                    color: #ffffff;
                                }
                            }
                        }
                    }
                }
            }
        }
        //聊天室
        .bettingStatus {
            display: none;
            width: 100%;
            height: auto;
            position: relative;
            overflow-y: auto;
            overflow-x: hidden;
            scrollbar-width: thin;
            background: #ffffff;

            &::-webkit-scrollbar {
                width: 5px;
                background-color: transparent;
            }
        
            &::-webkit-scrollbar-track {
                background: #ffffff;
                border-radius: 10px;
            }
        
            &::-webkit-scrollbar-thumb {
                background: linear-gradient(to bottom,#ffab00 0%, #ff4802 100%);
                border-radius: 10px;
            }

            &.open {
                display: block;
            }
        }
    }
}