@import "_reset";
@import "./header";
@import "./main";
@import "./leftside";
@import "./rightside";
@import "./table";
@import "./type";
@import "./fixside";
@import "./discount";
@import "./myself";
@import "./anime";
html {
    width: 100%;
    height: 100%;
    background: #ededed;

    body {
        width: 100%;
        height: auto;
        overflow-y: hidden;
        overflow-x: auto;

        &::-webkit-scrollbar {
            width: 5px;
            background-color: transparent;
        }
    
        &::-webkit-scrollbar-track {
            background: #ffffff;
            border-radius: 10px;
        }
    
        &::-webkit-scrollbar-thumb {
            background: linear-gradient(to right,#ffab00 0%, #ff4802 100%);
            border-radius: 10px;
        }
    }
}