 .left {
    width: 270px;
    height: 850px;
    float: left;
    overflow-x: hidden;
    overflow-y: auto;
    position: relative;
    z-index: 6;
    scrollbar-width: thin;
    border-width: 1px 0px;
    background: #ffffff;
    box-shadow: 0px 0px 5px 0px #00000049;

    &::-webkit-scrollbar {
        width: 5px;
        background-color: transparent;
    }

    &::-webkit-scrollbar-track {
        background: #ffffff;
        border-radius: 10px;
    }

    &::-webkit-scrollbar-thumb {
        background: linear-gradient(to top,#32496d 0%, #507abe 100%);
        border-radius: 10px;
    }
    
    //我的頁面
    &.mine {
        border: none;

        //上視窗
        .minewindow {
            width: 100%;
            height: 270px;

            //視窗上段
            .avater {
                width: 100%;
                height: 160px;
                padding-top: 25px;
                text-align: center;

                //大頭貼
                .sticker {
                    width: 79px;
                    height: 81px;
                    margin: 0px auto 20px;
                    background: url('../images/avatar_big.png');
                }

                //字樣
                p {
                    color: #1b1b1b;

                    &.joinday {
                        color: #454545;
                        font-size: 15px;
                        padding-top: 5px;
                    }
                    
                    span {
                        display: inline-block;
                        width: 36px;
                        height: 17px;
                        background: linear-gradient(to right,#d31c1c 0%,#bb092f 98%);
                        position: relative;
                        text-align: right;
                        color: #ffffff;
                        font-weight: bold;
                        border-radius: 5px;
                        margin: -3px 0px 0px 5px;
                        padding: 3px 5px 0px 0px;
                        font-size: 15px;

                        &::before {
                            display: none;
                            content: "";
                            position: absolute;
                            width: 23px;
                            height: 9px;
                            background: url('../images/vip.png') no-repeat;
                            top: 5px;
                            left: 5px;
                        }
                    }
                }
            }

            //三按鈕
            .threebut {
                width: 100%;
                height: 80px;
                text-align: center;

                a {
                    display: inline-block;
                    width: 60px;
                    height: 58px;
                    margin: 0px 3px;
                    border-radius: 8px;
                    font-size: 16px;
                    text-align: center;
                    background: transparent;
                    color: #1b1b1b;
                    padding-top: 10px;

                    &:hover,&:active,&.active {
                        background: linear-gradient(to top,#d31c1c 0%,#bb092f 98%);
                        color: #ffffff;

                        i {
                            color: #ffffff;
                        }
                    }

                    //按鈕圖
                    i {
                        display: block;
                        font-size: 24px;
                        margin-bottom: 10px;
                        color: #d21b1d;
                    }
                }
            }
        }
        //下半選單
        ul {
            
            li {

                &:nth-of-type(1),&:nth-of-type(5),&:nth-of-type(9) {
                    border-bottom: solid 1px #eeeeee;
                }

                &:hover,&:active,&.active {

                    a {
                        border-color: #d31c1c;
                        box-shadow: 0px 0px 5px 0px #d31c1c49; 
                        color: #ce1427;
                    }
                }

                a {
                    border: solid 1px transparent;
                    width: 100%;
                    box-sizing: border-box;
                    
                    .live {
                        display: inline-block;
                        padding: 1px 0px 0px;
                        width: 28px;
                        text-align: center;
                        font-size: 14px;
                        position: initial;
                        margin-left: 10px;
                        transform: translateY(0px);
                        background: #39547f;
                        color: #ffffff;
                    }

                    i {
                        font-size: 22px;
                        top: 10px;
                        color: #d31c1c;

                        &.fa-clipboard,&.fa-mobile-alt {
                            left: 21px;
                        }

                        &.fa-money-bill-wave,&.fa-qusetion-circle,
                        &.fa-users {
                            left: 16px;
                            top: 12px;
                            font-size: 20px;
                        }
                    }
                }
            }
        }
    }

    //選項
    ul {

        li {

            &:hover {

                a {
                    border-color: #d31c1c;
                    color: #ce1427;
                    box-shadow: 0px 0px 5px 0px #d31c1c49;
                    z-index: 10; 

                    .total {
                        color: #ce1427;
                    }
                }
            }

            &:active,&.active {

                .smallList {
                    display: block;
                }

                a {
                    border-color: #d31c1c;
                    color: #ce1427;
                    box-shadow: 0px 0px 5px 0px #d31c1c49;
                    z-index: 10;

                    .total {
                        color: #ce1427;
                    }
                }
            }

            &.onLive {

                .live {
                    display: block;
                }
            }

            a {
                display: block;
                color: #1b1b1b;
                width: 100%;
                background: #ffffff;
                height: 45px;
                line-height: 45px;
                font-size: 14px;
                padding-left: 50px;
                position: relative;
                box-sizing: border-box;
                border: solid 1px transparent;

                //字前小圖
                i {
                    position: absolute;
                    top: 12px;
                    left: 18px;
                    font-size: 18px;
                    color: #d31c1c;

                    &::before {
                        margin: 0px auto;
                    }

                    &.fa-hotjar,&.fa-hockey-puck,
                    &.fa-baseball-ball,&.fa-basketball-ball,
                    &.fa-futbol,&.fa-volleyball-ball,&.fa-calendar-alt {
                        left: 19px;
                    }

                    &.fa-piggy-bank {
                        left: 16px;
                    }

                    &.fa-signal {
                        font-size: 17px;
                    }
                }

                svg {
                    width: 18px;
                    height: 18px;
                    position: absolute;
                    left: 18px;
                    top: 12px;
                    fill: #d31c1c;
                }

                //字後小框
                .total {
                    position: absolute;
                    right: 10px;
                    top: 0px;
                    font-size: 13px;
                    color: #1b1b1b;
                }

                //LIVE小框
                .live {
                    display: none;
                    position: absolute;
                    line-height: 18px;
                    height: auto;
                    width: auto;
                    top: 49%;
                    transform: translateY(-50%);
                    right: 42px;
                    font-size: 12px;
                    background: linear-gradient(to left,#0d8c31 0%, #12bb26 100%);
                    color: #ffffff;
                    padding: 0px 4px;
                    border-radius: 3px;
                }
            }

            .smallList {
                display: none;
                width: calc(100% - 30px);
                height: 30px;
                background: #f7f7f7;
                border-bottom: solid 1px #e8e8e8;
                line-height: 30px;
                padding-left: 30px;
                font-size: 12px;
                color: #454545;
                cursor: pointer;

                &:hover,&:active,&.active {
                    background: #356bf7;
                    color: #ffffff;
                }

                span {
                    float: right;
                    margin-right: 20px;
                }
            }
        }
    }
}