 .left {
    width: 270px;
    height: 850px;
    float: left;
    overflow-x: hidden;
    overflow-y: auto;
    position: relative;
    z-index: 6;
    scrollbar-width: thin;
    border-width: 1px 0px;
    background: #ffffff;
    margin-top: 15px;

    &::-webkit-scrollbar {
        width: 5px;
        background-color: transparent;
    }

    &::-webkit-scrollbar-track {
        background: #ffffff;
        border-radius: 10px;
    }

    &::-webkit-scrollbar-thumb {
        background: #999999;
        border-radius: 10px;
    }
    
    //我的頁面
    &.mine {
        border: none;

        //上視窗
        .minewindow {
            width: 100%;
            height: 270px;

            //視窗上段
            .avater {
                width: 100%;
                height: 160px;
                padding-top: 25px;
                text-align: center;

                //大頭貼
                .sticker {
                    width: 79px;
                    height: 81px;
                    margin: 0px auto 20px;
                    background: url('../images/avatar_big.png');
                }

                //字樣
                p {
                    color: #1b1b1b;

                    &.joinday {
                        color: #454545;
                        font-size: 15px;
                        padding-top: 5px;
                    }
                    
                    span {
                        display: inline-block;
                        width: 36px;
                        height: 17px;
                        background: linear-gradient(to right,#cd0e21 0%,#9d0514 100%);
                        position: relative;
                        text-align: right;
                        color: #ffffff;
                        font-weight: bold;
                        border-radius: 5px;
                        margin: -3px 0px 0px 5px;
                        padding: 3px 5px 0px 0px;
                        font-size: 15px;

                        &::before {
                            display: none;
                            content: "";
                            position: absolute;
                            width: 23px;
                            height: 9px;
                            background: url('../images/vip.png') no-repeat;
                            top: 5px;
                            left: 5px;
                        }
                    }
                }
            }

            //三按鈕
            .threebut {
                width: 100%;
                height: 80px;
                text-align: center;

                a {
                    display: inline-block;
                    width: 60px;
                    height: 58px;
                    margin: 0px 3px;
                    border-radius: 8px;
                    font-size: 16px;
                    text-align: center;
                    background: transparent;
                    color: #333333;
                    padding-top: 10px;

                    &:hover,&:active,&.active {
                        background: #df1e31;
                        color: #ffffff;

                        &:nth-of-type(1),&:nth-of-type(2),&:nth-of-type(3) {
                            
                            i {
                                color: #ffffff;
                            }
                        }
                    }

                    &:nth-of-type(1) {
                        
                        i {
                            color: #f9a622;
                        }
                    }
                    &:nth-of-type(2) {
                        
                        i {
                            color: #3fa23d;
                        }
                    }
                    &:nth-of-type(3) {
                        
                        i {
                            color: #4980e4;
                        }
                    }

                    //按鈕圖
                    i {
                        display: block;
                        font-size: 24px;
                        margin-bottom: 10px;
                    }
                }
            }
        }
        //下半選單
        ul {
            
            li {
                width: 94%;
                margin: 0px auto;

                &:nth-of-type(1),&:nth-of-type(5),&:nth-of-type(9) {
                    border-bottom: solid 1px #ebebeb;
                }

                &:hover,&:active,&.active {

                    a {
                        background: #f1f1f1;
                        color: #df1e31;
                        font-weight: bold;
                    }
                }

                a {
                    border: solid 1px transparent;
                    width: 100%;
                    box-sizing: border-box;
                    
                    .live {
                        display: inline-block;
                        padding: 1px 0px 0px;
                        width: 28px;
                        text-align: center;
                        font-size: 14px;
                        position: initial;
                        margin-left: 10px;
                        transform: translateY(0px);
                        background: #308e44;
                        color: #ffffff;
                    }

                    i {
                        font-size: 22px;
                        top: 10px;
                        color: #df1e31;

                        &.fa-clipboard,&.fa-mobile-alt {
                            left: 21px;
                        }

                        &.fa-money-bill-wave,&.fa-qusetion-circle,
                        &.fa-users {
                            left: 16px;
                            top: 12px;
                            font-size: 20px;
                        }
                    }
                }
            }
        }
    }

    //選項
    ul {

        li {

            &:hover {

                a {
                    background: #f1f1f1;
                    color: #de1e30;
                    font-weight: bold;

                    .total {
                        color: #de1e30;
                    }
                }
            }

            &:active,&.active {

                .smallList {
                    display: block;
                }

                a {
                    background: #f1f1f1;
                    color: #de1e30;
                    font-weight: bold;

                    .total {
                        color: #de1e30;
                    }
                }
            }

            &.onLive {

                .live {
                    display: block;
                }
            }

            &:last-child {
                margin-bottom: 40px;
            }

            a {
                display: block;
                color: #1b1b1b;
                width: 94%;
                background: #ffffff;
                height: 45px;
                line-height: 45px;
                font-size: 14px;
                padding-left: 50px;
                position: relative;
                box-sizing: border-box;
                margin: 0px auto;

                //字前小圖
                i {
                    position: absolute;
                    top: 12px;
                    left: 18px;
                    font-size: 18px;
                    color: #de1e30;

                    &::before {
                        margin: 0px auto;
                    }

                    &.fa-heart {
                        color: transparent;
                        background: linear-gradient(to top,#e63e17 0%,#f7a024 100%);
                        background-clip: text;
                    }

                    &.fa-hotjar,&.fa-hockey-puck,
                    &.fa-baseball-ball,&.fa-basketball-ball,
                    &.fa-futbol,&.fa-volleyball-ball,&.fa-calendar-alt {
                        left: 19px;
                    }

                    &.fa-piggy-bank {
                        left: 16px;
                    }

                    &.fa-signal {
                        font-size: 17px;
                    }
                }

                svg {
                    width: 18px;
                    height: 18px;
                    position: absolute;
                    left: 18px;
                    top: 12px;
                    fill: #de1e30;
                }

                //字後小框
                .total {
                    position: absolute;
                    right: 10px;
                    top: 0px;
                    font-size: 13px;
                    color: #1b1b1b;
                }

                //LIVE小框
                .live {
                    display: none;
                    position: absolute;
                    line-height: 18px;
                    height: auto;
                    width: auto;
                    top: 49%;
                    transform: translateY(-50%);
                    right: 42px;
                    font-size: 12px;
                    background: #15ae56;
                    color: #ffffff;
                    padding: 0px 4px;
                    border-radius: 3px;
                }
            }

            .smallList {
                display: none;
                width: calc(100% - 50px);
                margin: 0px auto;
                height: 30px;
                background: #f5f6f7;
                line-height: 30px;
                padding-left: 30px;
                font-size: 12px;
                color: #424242;
                cursor: pointer;
                overflow: hidden;

                &:nth-of-type(1) {
                    margin-top: 10px;
                    border-radius: 5px 5px 0px 0px;
                }

                &:last-child {
                    margin-bottom: 10px;
                    border-radius: 0px 0px 5px 5px;
                }

                &:hover,&:active,&.active {
                    background: #dedede;
                }

                span {
                    float: right;
                    margin-right: 20px;
                }
            }
        }
    }
}